{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Recipe - Scrumptious</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a class="nav-link" href="{% url 'home' %}">Scrumptious</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'recipe_new' %}">Write a recipe</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="recipe-section">
      {% if recipe.image %}
      <div class="recipe-picture-container">
        <img src="{{ recipe.image }}" class="recipe-picture">
      </div>
      {% endif %}
      <div class="recipe">
        <div class="section">
          <h1 class="name">{{ recipe.name }}</h1>
          <p>{{ recipe.description }}</p>
          <p>
            Created on {{ recipe.created }} |
            Updated on {{ recipe.updated }}
          </p>
          <p>Tags:</p>
          <p>{% for tag in recipe.tags.all %}{{ tag.name }} {% endfor %}</p>
        </div>
        <div class="section">
          <h2>Ingredients</h2>
          <ul>
            {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.amount }} {{ ingredient.measure.name }} {{ ingredient.food.name }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="section">
          <h2>Steps</h2>
          <ol>
            {% for step in recipe.steps.all %}
            <li>{{ step.directions }}</li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </section>
  </main>
</body>

</html>