{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Recipe - Scrumptious</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a class="nav-link" href="{% url 'home' %}">Scrumptious</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'recipe_new' %}">Write a recipe</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="recipe-section">
      <div>
        <a href="{% url 'tag_edit' tag.id %}">Edit</a>
        <a href="#">Delete</a>
      </div>
    </section>
  </main>
</body>

</html>